.div{
  padding: 10px;
  border: 1px solid blanchedalmond;
  width: 100px;
}
.div1{
  background-color: gray;
}
.div0{
  background-color:grey;
  font-size: 20px;
}

.fone{
  width: 200px;
  
}